.enter-container{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enteruser{
    border:none;
    border-radius:10px;
    width:80%;
    height:97%;
    padding:5px 10px;
    outline:none;
    font-size:15px;
}
.form-jeje{
    border:2px solid gray;
    border-radius:10px;
    width:500px;
    height:60px;
    
}

.enteruser-button{
    border:none;
    border-radius:8px;
    width:20%;
    height:100%;
    background-color: rgb(219, 75, 75);
    color:white;
    cursor:pointer;

}